.article {
    width: 100%;
    text-align: left;
    color: #222;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.125rem;
}

.article-card {
    position: relative;
    border: 1px solid #eee;
    padding: 1rem;
    padding-bottom: 3.75rem;
    margin-bottom: 2rem;
    box-shadow: -1px 1px 2px rgba(155,155,155,0.2);
}

.btn.more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.btn.loadbtn {
    display: block;
    margin: 0 auto 2rem auto;
}

h2 {
    margin-bottom: 1rem;
    position: relative;
}

a:hover h2 {
    color: #00729b;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 80px;
    height: 3px;
    background-color: #D2CDCC; /* Charcoal */
}

.article-body {
    color: #5C515A; /* Charcoal */
    line-height: 1.6;
}

.article_body h1, .article_body h2, .article_body h3, .article_body h4, .article_body h5, .article_body h6, .article_body p {
    font-size: 1rem;
    color: black;
}
